<!doctype html>
<html>
  <head>
    <title>Dexter</title>

    <style type="text/css">
      body {
      padding-left: 4em;
      padding-top: 10px;
      }

      form {
      text-align: center;
      }

      .doc_highlights {
      padding-top: 5px;
      padding-bottom: 5px;
      }

    </style>

  </head>
  <body>
    <div>
      <form action="search">

	<input name="q" type="text" size="40" autofocus 
               placeholder="Search Text" value="{{query}}">

        <select name="d">
          <option value="all">All</option>
          {% for doc_set in doc_set_names %}
          {% if doc_set == selected_doc_set %}
          <option value="{{doc_set}}" SELECTED>{{doc_set}}</option>
          {% else %}
          <option value="{{doc_set}}">{{doc_set}}</option>
          {% endif %}
          {% endfor %}
        </select>

 	<button type="submit">Search</button>

        <br/>

        <input type="radio" value="title_and_text" checked>Text and Title

        <input type="radio" value="title_only">Title Only

      </form>

      <div class="message">
        {{ message }}
      </div>

      <br/>

      <!-- Hits -->

      {% if not results and not message %}
      No documents found...
      {% endif %}

      {% for hit in results %}
      <div class="hit">

        <div class="doc_title">
          <a href="/content{{ hit.path }}">{{hit.title}}</a>
          - {{ hit.doc_set }}
        </div>

        <div class="doc_path">
          <i>{{ hit.path }}</i>
        </div>

        <div class="doc_highlights">
          {{ hit.highlights|safe }}
        </div>

        <div class="doc_last_modified">
          <i>Last Indexed: {{ hit.last_modified }}</i>
        </div>

        <br/>

      </div>
      {% endfor %}

    </div>
  </body>
</html>
